{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'tarea/js/list.js' %}"></script>
{% endblock %}

{% block columns %}

<div  style="text-align:center;">
    <a href="{% url 'erp:tarea_mail' %}" class= "btn btn-primary">Enviar Plan</a>
</div>

    <tr>
            <th scope="col">Nro</th>
            <th scope="col">Nombre</th>
            <th scope="col">hallazgo</th>
            <th scope="col">Descripcion Actividades</th>
            <th scope="col">responsable</th>
            <th scope="col">Evidencia</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de  Terminacion</th>
            
            <th scope="col">Opciones</th>
           
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}